[submodule "lib/Assert"]
	path = lib/Assert
	url = https://github.com/Onimuru/Assert.ahk
[submodule "lib/Structure"]
	path = lib/Structure
	url = https://github.com/Onimuru/Structure.ahk
[submodule "lib/ObjectOriented"]
	path = lib/ObjectOriented
	url = https://github.com/Onimuru/ObjectOriented
[submodule "lib/Color"]
	path = lib/Color
	url = https://github.com/Onimuru/Color