[submodule "lib/Assert"]
	path = lib/Assert
	url = https://github.com/Onimuru/Assert.ahk
[submodule "lib/Structure"]
	path = lib/Structure
	url = https://github.com/Onimuru/Structure.ahk
[submodule "lib/ObjectOriented"]
	path = lib/ObjectOriented
	url = https://github.com/Onimuru/ObjectOriented
[submodule "lib/Color"]
	path = lib/Color
	url = https://github.com/Onimuru/Color
[submodule "lib/Console"]
	path = lib/Console
	url = https://github.com/Onimuru/Console
[submodule "lib/General\\"]
	path = lib/General\\
	url = https://github.com/Onimuru/General
